.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1e1e2f;
  color: #ffffff;
}

.App-header {
  text-align: center;
  margin-bottom: 20px;
}

.toggle-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.toggle-buttons button:hover {
  background-color: #0056b3;
}

.home-container {
  padding: 20px;
  color: #ffffff;
  background-color: #1e1e2f;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
